.nav {
    padding: 1rem;
    border-right: 1px solid #7777;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: #ffffff;
}

.nav .nav-link>a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    display: flex;
}

.nav .nav-link a:hover,
.nav .nav-link a:active {
    background-color: var(--secodary-bg-color);
    color: rgb(222, 235, 255);
    text-decoration: none;
}