.loader{
    height: 100px;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
    fill: var(--primary-bg-color);
}