:root {
  --primary-bg-color: rgb(7, 71, 166);
  --secodary-bg-color: rgba(9, 30, 66, 0.42);
  --primary-font-weight: 500;
  --primary-button-color: rgb(80, 95, 121);
  --primary-button-background-color: rgba(9, 30, 66, 0.04);
  --primary-font-color: #172B4D;
  --primary-link-color: var(--primary-bg-color);
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-weight: var(--primary-font-weight);
  color: var(--primary-font-color);
}

a,a:visited {
  text-decoration: none;
  color: var(--primary-link-color);
}

.border {
  border: 1px solid var(--secodary-bg-color);
}

.full-height {
  height: 100vh;
}

.padding-10 {
  padding: 10px;
}

.m-b-30 {
  margin-bottom: 30px;
}

button {
  -webkit-box-align: baseline;
  align-items: baseline;
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  height: 2.28571em;
  line-height: 2.28571em;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  border-radius: 3px;
  border-width: 0px;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none !important;
}

button:hover {
  cursor: pointer;
}

.primary-button {
  color: var(--primary-button-color) !important;
  background: var(--primary-button-background-color);
}

.m-r-10 {
  margin-right: 10px;
}

